/* src/app/documentation/DocumentationPage.module.css */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Para ocupar toda la ventana */
}

/* Contenedor para el sidebar y el contenido */
.mainContainer {
  display: flex;
  flex: 1;           /* Tomar el espacio restante */
}

/* El contenido principal ocupa el resto del ancho */
.content {
  flex: 1;
  padding: 2rem;
  box-sizing: border-box;
}

/* Ajustes si deseas que el main se muestre debajo del header en pantallas pequeñas, etc. */
