/* src/app/documentation/DocumentationPage.module.css */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContainer {
  display: flex;
  flex: 1; /* Para tomar el espacio restante entre header y footer */
}

/* El contenido principal a la derecha */
.content {
  flex: 1;
  padding: 2rem;
  box-sizing: border-box;
  background-color: #fff; /* Si quieres un fondo distinto */
}
