/* SidebarItem.module.css */

/* Ya existente */
.item {
  list-style: none;
  margin-bottom: 0.5rem;
}

/* Enlaces sin submenú */
.directLink {
  display: block;
  text-decoration: none;
  color: #777777;
  padding: 0.4rem 0.6rem;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.directLink:hover {
  color: #ffffff;
  background-color: #1a1a1a;
}

.directLink.active {
  color: #00bfff;
  background-color: #1a2b36;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Cabecera del submenú */
.collapseHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.4rem 0.6rem;
  border-radius: 4px;

  background-color: transparent;
  color: #777777;

  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.collapseHeader:hover {
  color: #ffffff;
  background-color: #1a1a1a;
}

.arrowIcon {
  transition: transform 0.3s ease;
  color: #777777;
  width: 1em;
  height: 1em;
  transform: rotate(0deg);
}

.iconOpen {
  transform: rotate(90deg);
}

/* Contenedor del submenú */
.subMenuContainer {
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease-in-out;

  border-left: 1px solid #252525;    /* La línea vertical */
  margin-left: 1rem;
  margin-bottom: 5px;
  margin-top: 5px;
}


/* Enlaces del submenú */
.subMenuLink {
  display: block;
  padding: 0.3rem 0.75rem;
  font-size: 0.85rem;
  text-decoration: none;
  margin-left: 0.5rem;
  margin-top: 4px;

  color: #777777;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.subMenuLink:hover {
  color: #ffffff;
  background-color: #1a1a1a;
}

.subMenuLink.active {
  color: #00bfff;
  background-color: #1a2b36;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* NUEVO: Título en blanco y negrita, sin hover ni cursor pointer */
.titleHeader {
  font-weight: bold;
  color: #ffffff;
  padding: 0.4rem 0.6rem;
  cursor: default; /* Para que no sea 'manito' */
}
.titleHeader:hover {
  background-color: transparent;
  color: #ffffff; /* se mantiene en blanco */
}
