.background {
  height: auto;
  width: auto;
  display: flex;
  background-color: #111111;
  padding: auto;
  position: relative;
  overflow: hidden;
  border: 1px solid red;
}

.Section_3 {
  width: 90%;
  max-width: 87rem;
  margin: auto;
  height: 100%;

  color: #777777;
  border: 1px solid white;
}
