/* src/app/documentation/components/SidebarItem.module.css */

.item {
  list-style: none;
  margin-bottom: 0.5rem;
}

/* Enlaces sin submenú */
.directLink {
  display: block;
  text-decoration: none;
  /* Color base -> #777777 */
  color: #777777;
  padding: 0.4rem 0.6rem;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
}

.directLink:hover {
  color: #ffffff;
  background-color: #1a1a1a;
}

.directLink.active {
  color: #00bfff;
  background-color: #1a2b36;
}

/* Cabecera del submenú */
.collapseHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.4rem 0.6rem;
  border-radius: 4px;

  /* Fondo transparente, texto gris medio */
  background-color: transparent;
  color: #777777;
  
  transition: background-color 0.2s, color 0.2s;
}
.collapseHeader:hover {
  color: #ffffff;
  background-color: #1a1a1a;
}

/* Flecha */
.icon {
  transition: transform 0.3s;
  color: #777777; /* flecha misma base */
  font-size: 0.9rem;
}
.open .icon {
  transform: rotate(180deg);
}

/* Contenedor del submenú */
.subMenuContainer {
  overflow: hidden;
  height: 0;
  transition: height 0.4s ease-in-out;
}

/* Enlaces del submenú */
.subMenuLink {
  display: block;
  padding: 0.3rem 2.2rem;
  font-size: 0.85rem;
  text-decoration: none;

  /* Color base => #777777 */
  color: #777777;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
}

.subMenuLink:hover {
  color: #ffffff;
  background-color: #1a1a1a;
}

/* Estado activo submenú */
.subMenuLink.active {
  color: #00bfff;
  background-color: #1a2b36;
}
